@CHARSET "ISO-8859-1";

.widget_AmadeusOverallIncidentBacklog {
	width: 500px; /* On a indiqué une largeur (obligatoire) */
	height: 300px; /* On a indiqué une largeur (obligatoire) */
	margin: auto;
	/* On peut donc demander à ce que le bloc soit centré avec auto */
	border: 1px black groove;
	box-shadow: 6px 6px 6px black;
	border-radius: 10px;
}

.firstRow {
	display: flex;
	width: 100%;
	height: 50%;
	text-align: center;
	color: white;
}

.SecondRow {
	display: flex;
	width: 100%;
	height: 50%;
	text-align: center;
}

.KPIName {
	width: 100%;
	border: 1px black groove;
	border-radius: 10px 0px 0px 0px;
	display: flex;
	justify-content: center;
	align-items: center;
	/*http://www.colorzilla.com/gradient-editor/*/
	background: #1e5799; /* Old browsers */
	background: -moz-linear-gradient(top, #1e5799 0%, #2989d8 50%, #207cca 51%, #7db9e8
		100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, #1e5799 0%, #2989d8 50%, #207cca 51%,
		#7db9e8 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, #1e5799 0%, #2989d8 50%, #207cca 51%, #7db9e8
		100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799',
		endColorstr='#7db9e8', GradientType=0); /* IE6-9 */
}

.monthlyKPI {
	width: 100%;
	border: 1px black groove;
	border-radius: 0px 10px 0px 0px;
	display: flex;
	justify-content: center;
	align-items: center;
	/*http://www.colorzilla.com/gradient-editor/*/
	background: #6d0019; /* Old browsers */
	background: -moz-linear-gradient(top, #6d0019 6%, #a90329 69%);
	/* FF3.6-15 */
	background: -webkit-linear-gradient(top, #6d0019 6%, #a90329 69%);
	/* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, #6d0019 6%, #a90329 69%);
	/* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6d0019',
		endColorstr='#a90329', GradientType=0); /* IE6-9 */
}

.trend {
	width: 100%;
	border: 1px black groove;
	border-radius: 0px 0px 0px 10px;
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,e1e1e1+0,f1f1f1+100,f6f6f6+100 */
background: rgb(255,255,255); /* Old browsers */
background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(225,225,225,1) 0%, rgba(241,241,241,1) 100%, rgba(246,246,246,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(225,225,225,1) 0%,rgba(241,241,241,1) 100%,rgba(246,246,246,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(225,225,225,1) 0%,rgba(241,241,241,1) 100%,rgba(246,246,246,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f6f6f6',GradientType=0 ); /* IE6-9 */
}

.indicatorTrend {
	width: 100%;
	border: 1px black groove;
	border-radius: 0px 0px 10px 0px;
	display: flex;
	justify-content: center;
	align-items: center;
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,e1e1e1+0,f1f1f1+100,f6f6f6+100 */
background: rgb(255,255,255); /* Old browsers */
background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(225,225,225,1) 0%, rgba(241,241,241,1) 100%, rgba(246,246,246,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(225,225,225,1) 0%,rgba(241,241,241,1) 100%,rgba(246,246,246,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(225,225,225,1) 0%,rgba(241,241,241,1) 100%,rgba(246,246,246,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f6f6f6',GradientType=0 ); /* IE6-9 */
}